<container id="serverdata_%{id}" size="400,80" color="#0F1E2DB2" hover-color="#162B3399" onclick="get_info(%{id})">

    <image id="servericon_%{id}" onclick="connect(%{id})" interactive='true' src='%{server_favicon}'
        size='64'
        pos='8,8'/>

    <label id="servername_%{id}" markup='md' pos="78,8">%{server_name}</label>
    <label id="serverdesc_%{id}" markup='md' pos="78,24">%{server_desc}</label>

    <label id="playersonline_%{id}" markup='md' pos="300,8" tooltip="" tooltip_delay="0">%{players_online}</label>

    <label id="serverstatus_%{id}" markup='md' pos="300,44">%{server_status}</label>
    <button margin='4'
            gravity='center-right'
            color='#00000000'
            hover-color='#FFFFFF2B'
            padding='0'
            onclick='remove_server(%{id})'>
        <image src='gui/delete_icon' size='32,32' color='#FFFFFF50'/>
    </button>
</container>